<%- include('layouts/head.html') %>
    <body>
        <%- include('layouts/nav.html', {type: 'home'}) %>
        <div class="home 4232">
            <div class="home--list-hotels container-fluid wrap-container">
                <h2 class="title-section hotel">Select your hotel</h2>
                <div class="home--list-hotels--container">
                    <div class="home--list-hotels--item">
                        <img src="img/hoteles/pyr.png" alt="The Pyramid at Grand Cancun Hotel" title="The Pyramid at Grand Cancun Hotel">
                    </div>
                    <div class="home--list-hotels--item">
                        <img src="img/hoteles/goc.png" alt="The Pyramid at Grand Cancun Hotel" title="The Pyramid at Grand Cancun Hotel">
                    </div>
                    <div class="home--list-hotels--item">
                        <img src="img/hoteles/gop.png" alt="The Pyramid at Grand Cancun Hotel" title="The Pyramid at Grand Cancun Hotel">
                    </div>
                    <div class="home--list-hotels--item">
                        <img src="img/hoteles/op.png" alt="The Pyramid at Grand Cancun Hotel" title="The Pyramid at Grand Cancun Hotel">
                    </div>
                    <div class="home--list-hotels--item">
                        <img src="img/hoteles/tsks.png" alt="The Pyramid at Grand Cancun Hotel" title="The Pyramid at Grand Cancun Hotel">
                    </div>
                    <div class="home--list-hotels--item">
                        <img src="img/hoteles/gsc.png" alt="The Pyramid at Grand Cancun Hotel" title="The Pyramid at Grand Cancun Hotel">
                    </div>
                    <div class="home--list-hotels--item">
                        <img src="img/hoteles/oh.png" alt="The Pyramid at Grand Cancun Hotel" title="The Pyramid at Grand Cancun Hotel">
                    </div>
                    <div class="home--list-hotels--item">
                        <img src="img/hoteles/smart.png" alt="The Pyramid at Grand Cancun Hotel" title="The Pyramid at Grand Cancun Hotel">
                    </div>
                </div>
                <div class="home--list-hotels--selected">
                    <span class="selected-hotel">Select : The Pyramid At Cancun</span>
                </div>
                <div class="home--list-hotels--button text-center">
                    <a href="/enter-data" class="btn btn--blue">continue</a>
                </div>
            </div>
        </div>
        <%- include('layouts/footer.html') %>
        <%- include('layouts/end.html') %>