// .enter-data
//     &--container
//         display flex
//         flex-flow: row
//         flex-wrap: wrap
//     &.guest-img
//     &.guest-data
//         h2
//             width 100%
        