// @import "rupture"
// @import 'nib'

flex-version = flex
support-for-ie = false
vendor-prefixes = official
rupture.enable-em-breakpoints = true
rupture.scale = 0px 400px 600px 768px 1023px 1200px 1400px

@import 'base/normalize.styl'
@import './flexboxgrid/dist/flexboxgrid.css'
@import "./linearicons/dist/web-font/style.css"
@import 'base/fonts.styl'
@import 'base/variables.styl'
@import 'base/reset.styl'
@import 'base/global.styl'
@import 'modules/**/*.styl' 
@import 'pages/**/*.styl'

