
$blue = #0069A7
$blue-button = #1890FF
$gray-44 = #444444
$base-color = #444444
$red = #E02020

$primary-font = 'Roboto', sans-serif;
$secondary-font = 'Roboto', sans-serif;
$linearicons = 'Linearicons-Free'
$precheckin = 'precheckin'